<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Formulário de Previsão</title>
</head>
<body>
    <h1>Formulário de Previsão</h1>
    <form method="post">
        <h2>Ult. Hora -2:</h2>

        <label>Air Humidity 100:</label>
        <input type="number" name="air_humidity_100"><br>

        <label>Air Temperature 100:</label>
        <input type="number" name="air_temperature_100"><br>

        <label>ATM Pressure Main:</label>
        <input type="number" name="atm_pressure_main"><br>

        <label>Number of Resets:</label>
        <input type="number" name="num_of_resets"><br>

        <label>Piezo Charge:</label>
        <input type="number" name="piezo_charge"><br>

        <label>Piezo Temperature:</label>
        <input type="number" name="piezo_temperature"><br>


        <h2>Ult. Hora -1:</h2>

        <label>Air Humidity 100:</label>
        <input type="number" name="air_humidity_100_2"><br>

        <label>Air Temperature 100:</label>
        <input type="number" name="air_temperature_100_2"><br>

        <label>ATM Pressure Main:</label>
        <input type="number" name="atm_pressure_main_2"><br>

        <label>Number of Resets:</label>
        <input type="number" name="num_of_resets_2"><br>

        <label>Piezo Charge:</label>
        <input type="number" name="piezo_charge_2"><br>

        <label>Piezo Temperature:</label>
        <input type="number" name="piezo_temperature_2"><br>


        <h2>Ult. Hora:</h2>

        <label>Air Humidity 100:</label>
        <input type="number" name="air_humidity_100_3"><br>

        <label>Air Temperature 100:</label>
        <input type="number" name="air_temperature_100_3"><br>

        <label>ATM Pressure Main:</label>
        <input type="number" name="atm_pressure_main_3"><br>

        <label>Number of Resets:</label>
        <input type="number" name="num_of_resets_3"><br>

        <label>Piezo Charge:</label>
        <input type="number" name="piezo_charge_3"><br>

        <label>Piezo Temperature:</label>
        <input type="number" name="piezo_temperature_3"><br>





        <input type="submit" value="Prever">
    </form>
</body>
</html>
